<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ContactsAngularJs</title>
	<link href="css/bootstrap-2.3.2.css" rel="stylesheet">
	<link href="css/bootstrap-responsive-2.3.2.css" rel="stylesheet">
</head>
<body ng-controller="ContactController">
	<table>
		<tr ng-repeat="contact in contacts">
			<td><a ng-click="edit(contact)">{{contact.name}}</a></td>
			<td>{{contact.phone}}</td>
			<td><a class="btn btn-danger" ng-click="remove(contact)">Remove</a></td>
		</tr>
	</table>
	<div>
		<div><input type="button" ng-click="newOne()" value="New" class="btn"/></div>
		<hr/>
		<div><input type="text" ng-model="contact.name" name="name"/></div>
		<div><input type="text" ng-model="contact.phone" name="phone"/></div>
		<div><input type="button" ng-click="add()" value="SAVE" class="btn"/></div>
	</div>
	<script src="https://www.dropbox.com/static/api/1/dropbox-datastores-0.1.0-b6.js" type="text/javascript"></script>
	<script src="lib/angular.js"></script>
	<script type="text/javascript">

		function loadDatastore(callback) {
			
			var client = new Dropbox.Client({
				token : "9VHF-d78gp0AAAAAAAAAAUffVWd8Jz4NRzyQNuDZsfO0YGY0DqWbNuiIqTzJ7PGq"
			});

			client.authenticate({interactive: false}, function(error) {
				if (error) {
					console.log('Authentication error: ' + error);
				}
			});
			if (client.isAuthenticated()) {
				console.log('authenticated to dropbox');
				var datastoreManager = client.getDatastoreManager();
				datastoreManager.openDefaultDatastore(function(error, datastore) {
					if (error) {
						console.log('Error opening default datastore: ' + error);
					} else {
						console.log("conected to dropbox datastore");
						datastore.recordsChanged.addListener(function(event) {
							console.log('contacts changed:', event.affectedRecordsForTable('contacts'));
						});
						callback(datastore);
					}
				});
			}

		}

		$app = angular.module('app', []);

		var ContactController = function($scope) {
			
			$scope.contacts = [{name: 'xxx', phone: 'xxx'}]
			
			loadDatastore(function(datastore) {
				
				var contactTable = datastore.getTable('contacts');
				
/*  				var contacts = contactTable.query();
				
				for (var i = 0; i < contacts.length; i++) {
					contacts[i].deleteRecord();
				}
				
				console.log(contacts.length);
								
 				for (var i = 0; i < 5; i++) {
					var contact = contactTable.insert({
						name : 'Contact ' + i,
						phone : '011-11111111'
					});
				}
 */ 			
				var contacts = contactTable.query();
				console.log(contacts.length);

				for (var i = 0; i < contacts.length; i++) {
					$scope.contacts.push({
						name: i,//contacts[i].get('name'),
						phone: i//contacts[i].get('phone')
					});
				}
				
			});
			
			$scope.contact = null;

			$scope.edit = function(contact) {
				$scope.contact = contact;
			};

			$scope.newOne = function() {
				$scope.contact = new ContactService();
			};

			$scope.add = function() {
				$scope.contact.$save(function() {
					$scope.contacts = ContactService.query();
				});
			};

			$scope.remove = function(contact) {
				$scope.contact.$delete({
					id : contact.id
				}, function(res) {
					$scope.contacts = ContactService.query();
					$scope.contact = new ContactService();
				});
			};

		};
	</script>
</body>
</html>